// Extends : Colors
@import './../design.styl'
@import './../func/check.styl'

// Colors
_color($color) {
  color checkVar($color, 'color')
}

// Background
_bg($color) {
  background checkVar($color, 'background')
}

// Colors
_bc($color) {
  border-color checkVar($color, 'border-color')
}