// Extends : Colors
@import './../design.styl'

for $color in $colors {
  define('_bg-' + $color, @() {
    background lookup('$' + $color)
  })
  define('_bc-' + $color, @() {
    background lookup('$' + $color)
  })
  define('_' + $color, @() {
    background lookup('$' + $color)
  })
}