// Extends : Sizing
@import './../design.styl'
@import './../func/check.styl'

// Font-sizes
_fs($size) {
  font-size check($size, $fontSizes, 'font-size') px
}

// Borders
_b($size) {
  border-width check($size, $borders, 'border-width') px
  border-style solid
}

_bt($size) {
  border-top-width check($size, $borders, 'border-width') px
  border-top-style solid
}

_bb($size) {
  border-bottom-width check($size, $borders, 'border-width') px
  border-bottom-style solid
}

_bl($size) {
  border-left-width check($size, $borders, 'border-width') px
  border-left-style solid
}

_br($size) {
  border-right-width check($size, $borders, 'border-width') px
  border-right-style solid
}

// Line-heights
_lh1() {
  line-height 1em
}

// Margins
_m($size) {
  margin check($size, $margins, 'margin') px
}

_mt($size) {
  margin-top check($size, $margins, 'margin') px
}

_mb($size) {
  margin-bottom check($size, $margins, 'margin') px
}

_ml($size) {
  margin-left check($size, $margins, 'margin') px
}

_mr($size) {
  margin-right check($size, $margins, 'margin') px
}

_mtb($size) {
  margin-top check($size, $margins, 'margin') px
  margin-bottom check($size, $margins, 'margin') px
}

_mlr($size) {
  margin-right check($size, $margins, 'margin') px
  margin-left check($size, $margins, 'margin') px
}

// Paddings
_p($size) {
  padding check($size, $paddings, 'padding') px
}

_pt($size) {
  padding-top check($size, $paddings, 'padding') px
}

_pb($size) {
  padding-bottom check($size, $paddings, 'padding') px
}

_pl($size) {
  padding-left check($size, $paddings, 'padding') px
}

_pr($size) {
  padding-right check($size, $paddings, 'padding') px
}

_ptb($size) {
  padding-top check($size, $paddings, 'padding') px
  padding-bottom check($size, $paddings, 'padding') px
}

_plr($size) {
  padding-right check($size, $paddings, 'padding') px
  padding-left check($size, $paddings, 'padding') px
}