// Extends : Sizing
@import './../design.styl'

for $size in $fontSizes {
  define('_fs' + $size, @() {
    font-size $size + 'px'
  })
}

for $border in 1 4 {
  define('_b' + $border, @() {
    border-width $border + 'px'
    border-style solid
  })
  define('_bt' + $border, @() {
    border-top-width $border + 'px'
    border-top-style solid
  })
  define('_bb' + $border, @() {
    border-bottom-width $border + 'px'
    border-bottom-style solid
  })
  define('_bl' + $border, @() {
    border-left-width $border + 'px'
    border-left-style solid
  })
  define('_br' + $border, @() {
    border-right-width $border + 'px'
    border-right-style solid
  })
}

_lh1() {
  line-height 1em
}

for $margin in $margins {
  define('_m' + $margin, @() {
    margin $margin + 'px'
  })
  define('_mt' + $margin, @() {
    margin-top $margin + 'px'
  })
  define('_mb' + $margin, @() {
    margin-bottom $margin + 'px'
  })
  define('_ml' + $margin, @() {
    margin-left $margin + 'px'
  })
  define('_mr' + $margin, @() {
    margin-right $margin + 'px'
  })
  define('_mtb' + $margin, @() {
    margin-top $margin + 'px'
    margin-bottom $margin + 'px'
  })
  define('_mlr' + $margin, @() {
    margin-right $margin + 'px'
    margin-left $margin + 'px'
  })
}

for $padding in $paddings {
  define('_p' + $padding, @() {
    padding $padding + 'px'
  })
  define('_pt' + $padding, @() {
    padding-top $padding + 'px'
  })
  define('_pb' + $padding, @() {
    padding-bottom $padding + 'px'
  })
  define('_pl' + $padding, @() {
    padding-left $padding + 'px'
  })
  define('_pr' + $padding, @() {
    padding-right $padding + 'px'
  })
  define('_ptb' + $padding, @() {
    padding-top $padding + 'px'
    padding-bottom $padding + 'px'
  })
  define('_plr' + $padding, @() {
    padding-right $padding + 'px'
    padding-left $padding + 'px'
  })
}