// Extends : Sizing
@import './../design.styl'
@import './../func/check.styl'

// Font-sizes
_fs($size) {
  font-size check($size, $fontSizes, 'font-size') px
}

// Borders
_b($size) {
  border-width check($size, $borders, 'border-width') px
  border-style solid
}

_bt($size) {
  border-top-width check($size, $borders, 'border-width') px
  border-top-style solid
}

_bb($size) {
  border-bottom-width check($size, $borders, 'border-width') px
  border-bottom-style solid
}

_bl($size) {
  border-left-width check($size, $borders, 'border-width') px
  border-left-style solid
}

_br($size) {
  border-right-width check($size, $borders, 'border-width') px
  border-right-style solid
}

// Line-heights
_lh1() {
  line-height 1em
}

// Margins
_m($space) {
  margin check($space, $spaces, 'margin') px
}

_mt($space) {
  margin-top check($space, $spaces, 'margin') px
}

_mb($space) {
  margin-bottom check($space, $spaces, 'margin') px
}

_ml($space) {
  margin-left check($space, $spaces, 'margin') px
}

_mr($space) {
  margin-right check($space, $spaces, 'margin') px
}

_mtb($space) {
  margin-top check($space, $spaces, 'margin') px
  margin-bottom check($space, $spaces, 'margin') px
}

_mlr($space) {
  margin-right check($space, $spaces, 'margin') px
  margin-left check($space, $spaces, 'margin') px
}

// Paddings
_p($space) {
  padding check($space, $spaces, 'padding') px
}

_pt($space) {
  padding-top check($space, $spaces, 'padding') px
}

_pb($space) {
  padding-bottom check($space, $spaces, 'padding') px
}

_pl($space) {
  padding-left check($space, $spaces, 'padding') px
}

_pr($space) {
  padding-right check($space, $spaces, 'padding') px
}

_ptb($space) {
  padding-top check($space, $spaces, 'padding') px
  padding-bottom check($space, $spaces, 'padding') px
}

_plr($space) {
  padding-right check($space, $spaces, 'padding') px
  padding-left check($space, $spaces, 'padding') px
}