// Colors
$grey1 = rgb(209, 216, 223)
$grey2 = rgb(240, 240, 240)
$grey-blue = rgb(241, 245, 247)
$blue = rgb(68, 119, 229)
$red = rgb(191, 54, 12)
$black = rgb(51, 52, 53)
$white = rgb(255, 255, 255)
$alpha50 = rgba(0, 0, 0, .5)
$colors = 'grey1' 'grey2' 'grey-blue' 'blue' 'red' 'black' 'white' 'alpha50'
// Sizing
$fontSizes = 14 16 22 30
$borders = 1 4
$spaces = 0 10 20 25